main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.scene {
    position: relative;
    width: 60vw;
    height: 400px;
    margin: 50px auto;
    perspective: 160vw;
}

.carousel {
    width: 100%;
    height: 100%;
    transform: translateZ(-5000px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.arrow {
    position: absolute;
    padding: 14px;
    box-shadow: 6px -6px 0 6px #0072bc inset;
    -webkit-box-shadow: 6px -6px #0072bc inset;
    -moz-box-shadow: 6px -6px #0072bc inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    top: 45%;
    z-index: 1;
}

.previous-button {
    left: 15px;
    transform: rotate(45deg);
}

.next-button {
    right: 15px;
    transform: rotate(225deg);
}

.carousel_cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 95%;
    height: 100%;
    border: 2px solid black;
    margin: 0 2.5%;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, rgba(155, 153, 150, 0.864), rgba(155, 153, 150, 0.864)), url('../images/background_cell.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .05s, opacity 2s;
    color: white;
}

.carousel_cell h1 {
    font-size: 3em;
    margin: 0;
}

.carousel_cell h2 {
    font-size: 2em;
}

.carousel_cell ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.carousel_cell li,
.carousel_cell p {
    font-size: 1.5em;
}

.carousel_cell p {
    margin: 12px 0;
}

.carousel_cell a img {
    transform: scale(1);
    transition: transform .5s;
}

.carousel_cell a img:hover {
    transform: scale(1.2);
}

#map {
    min-height: 45vh;
    min-width: 85%;
}

#mapId {
    min-height: 45vh;
    min-width: 85%;
}