@import './basic.css';
@import './largeScreen.css';
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Piazzolla', serif;
}

@media screen and (max-width: 1160px) {
    h1,
    h2,
    h3 a {
        text-align: center;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.3em;
    }
    #location {
        width: 95vw;
    }
    #map,
    #mapId {
        min-height: 50vh;
        min-width: 95vw;
    }
}